<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
</head>

<!-- main vue app -->
<body id="app">
	<!-- DEMO -->

	<!-- breadcrumb -->
	<card header="Breadcrumb">
		<breadcrumb 
	        list="{{ [{name: 'Home', href: '#'}, {name: 'Library', active: true}] }}">
	    </breadcrumb>
	</card>


	<!-- alerts -->
	<card header="Alerts">
		<div class="controls">
			<label for="dismissible">show</label>
			<input id="dismissible" type="checkbox" v-model="alert.show">
			<label for="dismissible">dismissible</label>
			<input id="dismissible" type="checkbox" v-model="alert.dismissible">
			<label for="alert-type">Type</label>
			<select id="alert.type" options="alert.types" v-model="alert.type"></select>
		</div>
		<alert show="{{@alert.show}}" type="{{alert.type}}" message="<strong>Note</strong> This is an html message" dismissible="{{alert.dismissible}}"></alert>
	</card>

	<!-- button group -->
	<card header="Button Group">
		<div class="controls">
			<label for="vertical">vertical</label>
			<input id="vertical" type="checkbox" v-model="buttonGroup.vertical">
		</div>
		<button-group vertical="{{@ buttonGroup.vertical }}">
		  <button type="button" class="btn btn-secondary">Left</button>
		  <button type="button" class="btn btn-secondary">Middle</button>
		  <button type="button" class="btn btn-secondary">Right</button>
		</button-group>
	</card>

	<!-- button checkbox -->
	<card header="Button Checkbox">
		<p>items: {{ buttonCheckbox.list | json }}</p>
		<button-checkbox list="{{@ buttonCheckbox.list }}"></button-checkbox>
	</card>

	<!-- button radio -->
	<card header="Button Radio">
		<p>selected item: {{ buttonRadio.model }}</p>
		<button-radio list="{{ buttonRadio.list }}" model="{{@ buttonRadio.model }}"></button-radio>
	</card>

	<!-- card -->
	<card header="Card">
		<div class="controls">
			<label for="card-header">header</label>
			<input id="card-header" type="checkbox" v-model="card.header">
			<label for="card-footer">footer</label>
			<input id="card-footer" type="checkbox" v-model="card.footer">
			<label for="card-list">List</label>
			<input id="card-list" type="checkbox" v-model="card.list">
			<label for="card-links">Links</label>
			<input id="card-links" type="checkbox" v-model="card.links">
			<label for="card-body">body</label>
			<input id="card-body" type="checkbox" v-model="card.body">
			<label for="card-type">Type</label>
			<select id="card-type" options="card.types" v-model="card.type"></select>
			<label for="card-variant">Variant</label>
			<select id="card-variant" options="card.variants" v-model="card.variant"></select>
		</div>
		<card 
			header="{{ card.header ? 'Featured' : ''}}"
			image="{{ {src: 'https://placehold.it/350x150', alt: 'some description', position: 'top'} }}"
			title="Card title" 
			text="Some quick example text to build on the card title and make up the bulk of the card's content." 
			buttons="{{ [{name: 'button', href: '#', type:'primary'}] }}"
			links="{{ card.links ? [{name: 'Card link', href: '#'}, {name: 'Another link', href: '#'}] : [] }}"
			list="{{ card.list ? [{text: 'Cras justo odio', link: '#'}, {text: 'Dapibus ac facilisis in', link:'#'}] : [] }}"
			footer="{{ card.footer ? 'Footer' : '' }}"
			align="left"
			type="{{ card.type }}"
			variant="{{ card.variant }}"
			style="width: 350px">
			<blockquote class="card-blockquote">
			    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
			    <footer>Someone famous in
			        <cite title="Source Title">Source Title</cite>
			    </footer>
			</blockquote>
		</card>
	</card>

	<script src="build/build.js"></script>
</body>

</html>
